/*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/

/* 1° section................................................................................................ */
 
header{
    width: 320px; ;
    height:44px ;
    display: inline-block;
    position: relative;
    }

.hamburger-menu{
   float: right ;
     
   }

.menu-list{
    display: none;
    }
  
  input:checked  ~ .menu-list{
    display:block;
    float: right;
    }
  
  input {
    display: none;
    }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    float: right;
    font-size: 20px;
    }
  
  
  /* etended button style*/
  input:checked ~ label {
    background: rgb(58, 22, 189); 
    }
  
  .menu-list{
    margin-top:0;
    padding: 0;
    width: 320px;
    height: 224px;
    }
  
  a {
    
    display: block;
    background:blue;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid black;
    color:white;
    text-decoration: none;
    }
  
  /*bright link*/
  a:hover {
    filter: brightness(110%);
    }
 


.logo{
    float: left 16px;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 7px;
}

/* second part....................................................................................................*/

h1{
  font-size: 36px;
  margin-left: 16px;
  margin-top: 29px;
  height: 84px;
  font-family:'IBM Plex Sans', sans-serif;
  width: 220px;
  color: #060A24 100%;
  }

.crossed-out{
  text-decoration: line-through;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24 100%;
  }

.header-description{
  font-size: 14px;
  margin-left: 16px;
  margin-top: 16px;
  width: 288px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 22px;
  color: #060A24 100%;
  }

.header-description1{
  display: none;
}

button {
  background:#00F3BB 100%; 
  width: 288px;
  height:48px ;
  border: none;
  color:#060A24 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 16px;
  margin-top: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  }

button:hover{
  background-image: linear-gradient(to right,#00F0B8 , #0000FE); 
  color: white;
  }


/* third part blue polygon........................................................................................*/

section{
  height: 1203.5px;
  }

.article_conteiner{
  position: absolute;
  width: 320px;
  height:1203.5px;
  background: linear-gradient(to top, #0000A3 0%,#0000FF 100%);
  clip-path: polygon(0% 2%, 100% 0%, 100% 98%, 0% 100%);
  z-index: -2;
  margin-top: 16px;
  }

.article_conteiner>h1{
  color: white;
  font-size: 36px;
  margin-top: 64px;
  margin-left: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 0px;
  }

.play_list{
  height: 933px;
  display: flex;
  flex-direction: column;
  margin-left: 11px;   
  }

.phone{
  position: relative;
  bottom: 70px;
  width:"300px" ;
  height:"519px";
  }


.where_we_come_from>h1{

  width: 288px;
  height: 84px;
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 36px;
  margin-left: 16px;
  margin-top: 0px;
  color: #060A24 100%;
}

.where_we_come_from>h2{
  width: 288px;
  height: 258px;
  margin-left: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24 100%;
  letter-spacing: 2px;
  margin-top: 0%;
}

.Photo_gallery>h1{
  font-size: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24 100%;
  height: 84px;
  width: 288px;
  margin-left: 16px;
  margin-top: 54px;
  margin-bottom: 14px;
}
.photo{
  display: flex;
  flex-direction:column;
}


/*sometopics + icons..............................................................................................*/

.some_of_our_themes>h1{
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 36px;
   color: #060A24 100%;
   height: 84px;
   width: 288px;
   margin-top: 48px;
   }

.box_icons{
   width: 320px;
   display: grid;
   grid-template-columns: 320px ;
   grid-template-rows:194px 194px 194px  194px ;
   row-gap: 32px;
   justify-content: center;
   margin-top: 37px;
   
   }

.icons{
   margin-left: 100px;
   justify-content: center;
   }

.iconsh2{
    font-size: 24px;
    color: #060A24 100%;
    font-family: IBMPlexSans-SemiBold;
    text-align: center;
    width: 288px;
    margin-left: 16px;
    }


 .clipath2{
 
  width: 320px;
  height: 341px;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(to top, #0000A3 0%,#0000FF 100%); 
  border:1px solid white
  
  }

 .h1clp2{
  color: white;
  width: 288px;
  height: 126px;
  margin-left: 16px;
  margin-top:64px;
  font-size: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
     }

  

/*footer..........................................................................................................*/

.footer__container{
 
  margin-top: 24px;
  height: 121px;
}
.footer__copyright{
  width: 227px;
  height: 22px;
  margin-left: 55px;
  
  color: #060A24;
  font-size: 14px;
  font-family: 'IBM Plex Mono', monospace;
  }

.socialmedia{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 227px;
  margin-left: 45px;
  }

.social_media_logo{
  color: #060A24;
  width:16px; 
  height: 28px;
  font-size: 16px;
  background-color: white;
  border: none;
}



@media only screen and (min-width:1024px){

  header{
    width:1440px;
    height:80px;
    }

  .menu-list{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
    width: 1024px;
    
  }
  
   .menu-list a {
    display: inline-block;
    background:none;
    border-bottom: none;
    color:#060A24 ;
     
  }

  label{
    display: none;
  }

  a:hover {
    color:#00F3BB;
    text-decoration: line-through;

  }
  a:hover:active{
    color:#979797;
  

  }
  .header-text{
      width: 1440px;
    }
    h1{
     width: 1440px;
     margin-left: 200px;
     font-size: 64px;
    }
     
    .blue-point{
      color: #0000EC ;
    }
  
    .header-description1{
      display: inline-block;
      width: 628px;
      height: 48px;
      margin-left: 200px;
      font-size: 16px;
      font-family: 'IBM Plex Mono', monospace;
      line-height: 24px;
      
  
    }

    .header-description{
      display: none;
    }
  
    button{
      width: 288px;
      height:56px ;
      margin-left: 200px;
    }
    .article_conteiner{
      width: 1440px;
      height: 1042.6px;
      clip-path: polygon(0% 13%, 100% 0%, 100% 87%, 0% 100%);
      background: linear-gradient(to right, #0000A3 0%,#0000FF 100%);
      
    }
  
    .article_conteiner>h1{
      margin-left: 200px;
      margin-top: 186px;
      font-size: 48px;
    }
    .play_list{
     display: flex;
     flex-wrap:wrap;
     flex-direction: row;
     justify-content: space-between;
     width: 1240px;
     height: 536px;
     margin-left: 100px;
     margin-top: 26px;
    }
  
    #ifr1,#ifr2,#ifr3,#ifr4{
      width: 584px;
      height: 232px;
    }
  
    .phone>img{
      position: relative;
      bottom: 250px;
      width: 430px;
      height: 670px;
      margin-left: 230px;
    }
  
    .phone_where_we_come_from{
      display: flex;
      flex-direction: row;
      height: 350px;
    }
  
    .where_we_come_from{
      margin-left: 63px;
      position: relative;
      bottom: 150px;
    }
    
    .article_conteiner{
      width: 1440px;
      height: 1042.6px;
      clip-path: polygon(0% 13%, 100% 0%, 100% 87%, 0% 100%);
      background: linear-gradient(to right, #0000A3 0%,#0000FF 100%);
      
    }
  
    .article_conteiner>h1{
      margin-left: 200px;
      margin-top: 186px;
      font-size: 48px;
    }
    .play_list{
     display: flex;
     flex-wrap:wrap;
     flex-direction: row;
     justify-content: space-between;
     width: 1240px;
     height: 536px;
     margin-left: 100px;
     margin-top: 26px;
    }
  
    #ifr1,#ifr2,#ifr3,#ifr4{
      width: 584px;
      height: 232px;
    }
  
    .phone>img{
      position: relative;
      bottom: 250px;
      width: 430px;
      height: 670px;
      margin-left: 230px;
    }
  
    .phone_where_we_come_from{
      display: flex;
      flex-direction: row;
      height: 350px;
    }
  
    .where_we_come_from{
      margin-left: 63px;
      position: relative;
      bottom: 150px;
    }
    .Photo_gallery>h1{
      margin-left: 200px;
      width: 481px;
      height: 62px;
      font-size: 48px;
    }
    .photo{
      margin-top: 36px;
      display: grid;
      grid-template-columns: 480px 480px 480px;
      grid-template-rows: 364px 364px;
      }
    #photo1, #photo2, #photo3, #photo4, #photo5,#photo6{
     width: 480px;
     height: 364px;
    }
    
    .some_of_our_themes>h1{
      font-size: 48px;
      margin-left: 200px;
      margin-top: 64px;
      width: 586px;
    }
  
    .box_icons{
      display: grid;
      grid-template-columns: 260px 260px 260px 260px;
      grid-template-rows:130px ;
      margin-top: 56px;
      margin-left: 540px;
      position: absolute;
      }

      .clipath2{
          width: 1440px;
          height: 518px;
          clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
          background: linear-gradient(to top, #0000A3 0%,#0000FF 100%); 
          margin-top: 426px;
          border:1px solid white;
        }
        
        .h1clp2{
         color: white;
         margin-left: 374px;
         margin-top:213px;
         font-size: 48px;
         font-family: 'IBM Plex Sans', sans-serif;
         width: 692px;
         height: 62px;
            }
       
        .button2{
          width: 345px;
          height: 56px;
          margin-left: 574px;
          margin-top: 34px;
        
        }

        .footer__container{
          position:relative;
          border:1px solid white;
          height: 95px;
          width: 1440px;
          display: flex;
          align-items: center;
          margin-top: 0%;
        }
        .socialmedia{
          margin-left: 800px;
          font-size: 18px;
        }
      
        .footer__copyright{
          font-size: 16px;
          width: 300px;
        } 
      }